<%= form_for :locate, url: {action: "update"} do |f| %>
  <p>
    <%= f.label :adress %><br>
    <%= f.text_field :adress %>
  </p>

   <p>
    <%= f.label :ville %><br>
    <%= f.text_field :ville %>
  </p>
 
   <p>
    <%= f.label :code_postal %><br>
    <%= f.text_field :code_postal %>
  </p>

   <p>
    <%= f.label :pay %><br>
    <%= f.text_field :pay %>
  </p>

  <p>
    <%= f.hidden_field :id %><br>
    
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
