<h1>Liste de locations</h1>
 
<table>
  <tr>
  	<th>id</th>
    <th>adress</th>
    <th>ville</th>
    <th>code_postal</th>
    <th>pay</th>
    <th>latitude</th>
    <th>longitude</th>
  </tr>
 
  <% @locates.each do |locate| %>
    <tr>
    	<td><%= locate.id %></td>
      <td><%= locate.adress %></td>
      <td><%= locate.ville %></td>
      <td><%= locate.code_postal %></td>
      <td><%= locate.pay %></td>
      <td><%= LongAltJob.perform_now(locate)[0]
 %></td>
      <td><%= LongAltJob.perform_now(locate)[1] %></td>
      <td><%= link_to 'edit', :action => 'edit', :id => locate.id %><td>
      <td><%= link_to 'delete', :action => 'delete', :id => locate.id%><td>
    </tr>
  <% end %>
</table>
<%= will_paginate @locates %>









