<% content_for :title do %>
      Le titre de la page
<% end %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class ='form-group' id='form_group_id'>
<%= form_tag  locations_path, :method => 'get',:id => "locations_search" do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => 'text-left' %>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary ' %>
  </p>
  <div id="locations"><%= render 'locations' %></div>
<% end %>
</div>
<h1>Liste de locations</h1>
  <div class ='btn'>
    <%= link_to 'new', :action => 'new'%>
  </div>
<table class="table table-bordered table-responsive table-hover">
  <tr class='pretty'>
  	<th><%= sortable "id" %></th>
    <th><%= sortable "adress" %></th>
    <th><%= sortable "ville" %></th>
    <th><%= sortable "code_postal" %></th>
    <th><%= sortable "pay" %></th>
    <th><%= sortable "latitude" %></th>
    <th><%= sortable "longitude" %></th>
  </tr>
  <% @locates.each do |locate| %>
  <tr>
    <td><%= locate.id %></td>
    <td><%= locate.adress %></td>
    <td><%= locate.ville %></td>
    <td><%= locate.code_postal %></td>
    <td><%= locate.pay %></td>
    <td><%= locate.latitude %></td>
    <td><%= locate.longitude %></td>
    <td><%= link_to 'edit', :action => 'edit', :id => locate.id %><td>
    <td><%= link_to 'delete', :action => 'delete', :id => locate.id%><td>
    <td><%= link_to 'show', :action => 'show', :id => locate.id%><td>
  </tr>
    <tr>
    	<td><%= locate.id %></td>
      <td><%= locate.adress %></td>
      <td><%= locate.ville %></td>
      <td><%= locate.code_postal %></td>
      <td><%= locate.pay %></td>
      <td><%= locate.latitude %></td>
      <td><%= locate.longitude %></td>
      
      <td><%= link_to 'edit', :action => 'edit', :id => locate.id %><td>
      <td><%= link_to 'delete', :action => 'delete', :id => locate.id%><td>
      <td><%= link_to 'show', :action => 'show', :id => locate.id%><td>
    </tr>
  <% end %>
</table>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @locates %>
<%= button_to "lancer le job", {:action => 'exec_job'}, :method => :get %>
<br><br><br>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

