 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<h1>Visualiser une location</h1>
<%= link_to 'edit', :action => 'edit', :id => @locate.id %>
<%= link_to 'delete', :action => 'delete', :id => @locate.id%>
<%= link_to 'new', :action => 'new'%>
<p>
  <strong>Adress:</strong>
  <%= @locate.adress %>
</p>
 
<p>
  <strong>Vile:</strong>
  <%= @locate.ville %>
</p>

<p>
  <strong>Code postal:</strong>
  <%= @locate.code_postal %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @locate.pay%>
</p>

<p>
  <strong>latitude:</strong>
  <%= @locate.latitude%>
</p>

<p>
  <strong>longitude:</strong>
  <%= @locate.longitude%>
</p>

<%= button_to "lancer le job", {:action => 'exec_job'}, :method => :get %>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>